
#hotbar .macro .macro-use {
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: #111111cc;
    pointer-events: none;
    width: 47px;
    height: 7px;
    span {
        width:5px;
        height:8px;
        margin-right:2px;
        background-color: #cfcfcf80;
        
    }
    span.active{
        background-color: rgb(18, 214, 248);
    }
}

#hotbar #macro-list2{
    flex: 0 0 504px;
    height: 100%;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    border: 1px solid #000;
    border-radius: 3px;
}

#hotbar #action-bar2 {
    flex: 1;
    height: 52px;
    pointer-events: all;
}

#hotbar.GM{
    width:1120px;
}
#hotbar #macro-list2 .macro-key {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1px 3px;
    background: #111;
    color: #f0f0e0;
    font-weight: bold;
    pointer-events: all;
}

.macro .big-tooltip{
    position: absolute;
    max-height: 200px;
    top: -210px;
    max-width: 400px;
    min-height: 200px;
    overflow: hidden;
    min-width: 400px;
    z-index: 1000;
    left: -175px;
}