
#hotbar .macro .macro-use {
    position: absolute;
    bottom: 1px;
    left: 1px;
    background: #111111cc;
    pointer-events: none;
    width: 47px;
    height: 7px;
    span {
        width:5px;
        height:8px;
        margin-right:2px;
        background-color: #cfcfcf80;
        
    }
    span.active{
        background-color: rgb(18, 214, 248);
    }
}